body {
    background-color: #FFB997;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #0B032D;
  }
  
  h2 {
    color: #843B62;
  }
  
  .small-emphasis {
    font-size: 14px;
    font-weight: bold;
    color: #74546A;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
  }
  
  td, th {
    border: 8px solid #843B62;
    color:#74546A;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #F67E7D;
    color: #fff;
  }
  
  td:last-child {
    width: 50px;
  }
  
  .table .add-icon {
    font-size: 18px;
    color: #fff;
    background-color: #843B62;
    padding: 8px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .table .add-icon:hover {
    background-color: #F67E7D;
  }
  